/* адаптивность */
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contacts {
    padding: 16px;
    position: relative;
    margin-top: 100px;
  }
}

/* звонит моя мобила */
@media (max-width: 500px) {
  .grid {
    width: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  nav {
    width: auto;
    display: flex;
    padding: 16px;
    flex-direction: row;
    justify-content: space-between;
  }

  .about {
    width: auto;
    height: 100%;
  }

  .grid-2 {
    display: flex;
    flex-direction: column;
  }

  /* about adaptive */
  .ava {
    height: 15%;
    position: fixed;
    right: 16px;
    bottom: 16px;
    transform: translateY(0);
    border-radius: 1000px;
    z-index: -10;
  }

  .exp {
    width: 100%;
  }

  .contacts {
    padding: 16px;
    position: relative;
    margin-top: 100px;
  }

  /* case adaptive */

  .case-wrapper {
    display: flex;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px;
    margin-top: -100px;
  }

  /* Левая часть — 3/4 */
  .case-media {
    width: 100%;
    padding-bottom: 16px;
  }

  .case-img {
    width: 100%;
    border-radius: 12px;
    display: block;
    margin-bottom: 8px;
  }

  /* Правая часть —  1/4 */
  .case-info {
    order: 1;
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .case-wrapper {
    flex-direction: column;
  }
}
